@{
    ViewBag.Title = "LoadingExternalData";
}

<html>
<body>

    <div id="container"></div>

    <script>

        var data = [10, 20, 30, 40, 50];

        // need to have local server to work with these

    </script>
</body>
</html>
