@{
    ViewBag.Title = "Paths";
}

<html>
<body>

    <div id="container"></div>

    <script>

        var svg = d3.select("#container")
                    .append("svg")
                    .attr("width", 500)
                    .attr("height", 500);
        var data = [
            { x: 10, y: 20 },
            { x: 40, y: 60 },
            { x: 50, y: 70 }
        ];
        var group = svg.append("g")
                        .attr("transform", "translate(50,50)");
        var line = d3.svg.line()
                        .x(function (d) { return d.x; })
                        .y(function (d) { return d.y; });
        //group.selectAll("path")
        // .data([data])
        //.enter()
        //.append("path")
        //.attr("d",line)
        //.attr("fill","none")
        //.attr("stroke","#000")
        //.attr("stroke-width",10);

        // above piece of code and below is same
        group.append("path")
             .attr("d", line(data))
             .attr("fill", "none")
             .attr("stroke", "#000")
             .attr("stroke-width", 10);

    </script>
</body>
</html>
