@{
    ViewBag.Title = "Transitions";
}

<html>
<body>

    <div id="container"></div>

    <script>

        var data = [10];

        var svg = d3.select("#container")
                    .append("svg")
                    .attr("width", 500)
                    .attr("height", 500);

        var circle = svg.append("circle")
                            .attr("cx", 50)
                            .attr("cy", 100)
                            .attr("r", 25)
                            .attr("fill", "red");

        circle.transition()
              .duration(500)
              .delay(2000)
              .attr("cx", 150)
              .each("start", function () { d3.select(this).attr("fill", "blue"); });


    </script>
</body>
</html>