
@{
    ViewBag.Title = "TreeMapLayout";
}

<html>
<body>

    <div id="container"></div>

    <script>
        var width = 500,
            height = 500,
            padding = 50;
        var color = d3.scale.category10();
        var svg = d3.select("#container").append("svg")
                                 .attr("width", width)
                                 .attr("height", height + padding)
                                    .append("g")
                                    .attr("transform", "translate(20,0)");

        d3.json("../Data/Practice/TreeMapLayout_data.json", function (data) {




            var treemap = d3.layout.treemap()
                                   .size([500, 500])
                                    .nodes(data);
            var cells = svg.selectAll(".cell")
                            .data(treemap)
                            .enter()
                            .append("g")
                            .attr("class", "cell");
            cells.append("rect")
                 .attr("x", function (d) { return d.x; })
                 .attr("y", function (d) { return d.y; })
                 .attr("width", function (d) { return d.dx; })
                 .attr("height", function (d) { return d.dy; })
                 .attr("fill", function (d) { return d.children ? null : color(d.parent.name); })
                 .attr("stroke","#fff");

            cells.append("text")
                .attr("x", function (d) { return d.x + d.dx / 2; })
                .attr("y", function (d) { return d.y + d.dy / 2; })
                .attr("text-anchor","middle")
                .text(function (d) { return d.children ? null : d.name; });
        });
    </script>
</body>
</html>