@{
    ViewBag.Title = "TreeLayout2";
}

<html>
<body>

    <div id="container"></div>

    <script>

        var svg = d3.select("#container")
                    .append("svg")
                    .attr("width", 500)
                    .attr("height", 500)
                        .append("g")
                        .attr("transform", "translate(50,50)");
        // Need a server to work on

    </script>
</body>
</html>
